Makefile*
debug/
release/
vc80.pdb
vc90.pdb
*.qm
*.db
build/*
build-stamp
debian/aardview.*
debian/aardview
debian/files
.nfs*

# clickonce wrapper
cowrap.suo
cowrap.csproj.user
cowrap/cowrap/obj
cowrap/cowrap/bin

GPATH
GRTAGS
GSYMS
GTAGS

version.h
/.qmake.stash
